.App {
  /* text-align: center; */
  margin: 0 auto;
  width: 40vw;
  border: 2px gray solid;
}

.title {
  text-align: center;
}

.item {
  margin: 10px 0 0 10px;
}

.info-bar {
  margin-left: 10px;
  display: flex;
}

.form {
  text-align: center;
}

label {
  margin: 0 10px;
}

p {
}
